input:not(input[type=checkbox]) {
    width: 100%;
    font-size: 17px;
    font-weight: 500;

    background: #EBEBEB;
    border: 1px solid transparent;
    border-radius: 10px;

    padding: 17px;
}

input:not(input[type=checkbox]):focus {
    outline: none;
}

button {
    width: 100%;

    color: white;
    font-size: 20px;
    font-weight: 600;

    background: #444444;

    border: 1px solid transparent;
    border-radius: 10px;

    padding: 15px 0;

    cursor: pointer;
}

.bg-r {
    background-color: #f00;
}

.bg-b {
    background-color: #00f;
}

.bg-g {
    background-color: #0f0;
}

.br-r {
    border : 1px solid #f00;
}

.br-b {
    border : 1px solid #00f;
}

.br-g {
    border : 1px solid #0f0;
}