body {
	font-family: 'Pretendard', sans-serif;
	font-weight: 500;
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
copyright {
	font-size: 11px;
}
#svelte {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
