main {
	margin-top: 81px;
	margin-bottom: 121px;
}

copyright {
	font-size: 11px;
}

.main_box {
	margin-top: 150px;
}

.content_box,
.date_box {
	width: 500px;
	padding: 20px;
	font-size: 11px;
	border-radius: 30px;
	border: 1px solid #e3e3e3;
	background-color: white;
}

.date_box:hover {
	background-color: #4b87fe;
}

.content_box {
	.content_box_desc {
		ul {
			padding-left: 0;
			li {
				list-style: none;
			}
		}
	}
}

.content_box_title {
	font-size: 25px;
	font-weight: 700;
	color: #4b87fe;
}

.content_box_post_title {
	font-size: 15px;
}

.content_box_post_date {
	font-size: 16px;
}

.content_box_post_title,
.content_box_post_date {
	display: inline-block;
}
